<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="cat" class="com.wang.Cat"/>
        <bean id="dog" class="com.wang.Dog"/>
<!-- byname会自动在容器上下文中查找和自己对象set方法后面对应的值对应的bean id！
     bytype会自动在容器上下文中查找和自己的对象属性类型相同的bean@-->
    <bean id="people" class="com.wang.People" autowire="byType">
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
        <property name="name" value="wangleiqng"/>
    </bean>
</beans>