<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    有参构造方法1：index-->
<!--<bean id="index" class="com.wang.Index">-->
<!--    <constructor-arg index="0" value="wangleqing1"/>-->
<!--    <constructor-arg index="1" value="19"/>-->
<!--</bean>-->

<!--    有参构造方法2：type-->
<!--    <bean id="type" class="com.wang.Index">-->
<!--        <constructor-arg type="java.lang.String" value="wangleqing2"/>-->
<!--        <constructor-arg type="int" value="19"/>-->
<!--    </bean>-->

<!--    有参构造方法3：name，最常用！-->
<!--    <bean id="type" class="com.wang.Index">-->
<!--        <constructor-arg name="name" value="wangleqing3"/>-->
<!--        <constructor-arg name="age" value="19"/>-->
<!--    </bean>-->

<!--    ref示例-->
    <bean id="dao" class="com.wang.Dao" name="dao2,dao3"/>
    <bean id="service" class="com.wang.Service">
        <property name="dao" ref="dao"/>
    </bean>

    <alias name="dao" alias="anything_else"/>
</beans>